[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
notebook = "*"

[packages]
numpy = "*"
scipy = "*"
seaborn = "*"
matplotlib = "*"
pandas = "*"
pytest = "*"

[requires]
python_version = "3.8"
